@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "~react-image-gallery/styles/css/image-gallery.css";

@layer utilities {
  ::-webkit-scrollbar {
    width: 14px;
    background-color: #F5F5F5;
  }

  /* Change the appearance of the thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #F5F5F5;
  }

  /* Change the appearance of the track */
  ::-webkit-scrollbar-track {
    background-color: #F5F5F5;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #aaa;
  }
}

/* :root{
  --color-primary: #b29966;
  --color-secondary: #2b6d71;
  --color-third: #707070;
} */

@layer base {

  [data-theme="GLP"] {
    --color-primary: #b29966;
    --color-secondary: #2b6d71;
    --color-third: #707070;
    --color-primary-hover: #c1ae84;
    --font-primary: Avenir,AvenirLTS,Helvetica,Arial,sans-serif;
    --text-transform: none;
    --round-primary: 0.25rem;
  }

  [data-theme="TKL"] {
    --color-primary: #353e47;
    --color-secondary:  #000000;
    --color-third: #707070;
    --color-primary-hover: #5d656c;
    --font-primary: Gotham,Helvetica,Arial,sans-serif;
    --text-transform: uppercase;
    --round-primary: 0px;
  }

  [data-theme="PVM"]{
    --color-primary: #7c6537;
    --color-secondary: #806533;
    --color-third: #707070;
    --color-primary-hover: #beab82;
    --font-primary: Gill Sans,Helvetica,Arial,sans-serif;
    --text-transform: none;
    --round-primary: 0.25rem;
  }

  html{
    font-family: var(--font-primary);
    -webkit-font-smoothing: antialiased;
  }
}
@keyframes slideaway {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.image-gallery-icon:hover{
  color: var(--color-secondary);
}

.image-gallery-thumbnails-container{
  text-align: left !important;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:focus, .image-gallery-thumbnail:hover{
  border: 4px solid var(--color-secondary);
}


.title{
  text-transform: var(--text-transform);
}


.hide {
  animation: slideaway 300ms;
  animation-fill-mode: forwards;
}

.show {
  animation: slidein 300ms;
  display: block;
}

@keyframes slidein {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }

  to {
    display: block;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadein {
  animation: fadein 400ms;
  display: block;
}

.fadeout {
  animation: fadeout 400ms;
  display: none;
}

.menu_top::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 40%;
  right: 50%;
  height: 16px;
  width: 16px;
  rotate: 45deg;
  background-color: #fff;
  z-index: -1;
  border-width: 1px 0px 0px 1px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tooltip::after{
  content: '';
  position: absolute;
  top: 40%;
  bottom: 50%;
  right: -5px;
  height: 8px;
  width: 8px;
  rotate: 135deg;
  background-color: #fff;
  z-index: -1;
  border-width: 1px 0px 0px 1px;
  --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.required::before {
  content: '*';
  color: red;
  margin-right: 4px;
}

label {
  font-weight: 400;
  font-size: 14px;
}